/* Set background color of webpage black */
html {
    background-color: black;
}

/* Set h1 to uppercase and increase font size  */
h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

/* Set a solid white border around image */
img {
    border: 5px solid white;
    width: 100%;
}

/* Center a div */
/* Set the font color to white, font family to Regular Libre Baskerville */
#avocado {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: 'Libre Baskerville', serif;
}